// Reset
@use './partials/reset.scss';

// Font
@use './partials/fonts.scss';

// Variabili Colore
@use './partials/varcolor.scss';

// Regole Generali
.general-container {
    width: 80%;
    margin: 0 auto;
    height: 100%;
}

.d-flex {
    display: flex;
}

.jc-center {
    justify-content: center;
}

.ai-center {
    align-items: center;
}

.jc-space-bet {
    justify-content: space-between;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}